$GraphikLCG: (
    GraphikLCG-Regular,
    GraphikLCG-Medium,
    GraphikLCG-Semibold,
    GraphikLCG-Bold,
);

@each $font in $GraphikLCG{
    @font-face {
        font-family: #{$font};
        src: url(/src/fonts/#{$font}.woff);
        font-display: fallback;
    }
}