%ico {
    display: inline-block;
    cursor: pointer;
}

.video-play__icon {
    @extend %ico;
    background-image: url(/src/img/icons/video-play-icon.svg);
    width: 80px;
    height: 80px;
    margin-right: 22px;
}

.bank-icon {
    @extend %ico;
    background-image: url(/src/img/logos/bank-russia-logo.svg);
    width: 200px;
    height: 50px;
}

.link-icon {
    @extend %ico;
    background-image: url(/src/img/icons/arrow-button-bordered.svg);
    width: 50px;
    height: 50px;
    margin-left: 30px;

    &:hover {
        transition: all 0.1s ease;
        rotate: -45deg;
    }

    &_filling {
        width: 52px;
        height: 52px;
        background-image: url(/src/img/icons/arrow-button-fill.svg);
        margin-left: 20px;
    }
}

.legend-icon {
    @extend %ico;
    cursor: none;
    height: 10px;
}

.high-index {
    width: 40px;
    background-image: url(/src/img/icons/legend-icon-hight.svg);
}

.middle-index {
    width: 25px;
    background-image: url(/src/img/icons/legend-icon-middle.svg);
}

.low-index {
    width: 10px;
    background-image: url(/src/img/icons/legend-icon-low.svg);
}

.table_logo {
    @extend %ico;
    cursor: none;
    width: 220px;
    height: 30px;
    background-image: url(/src/img/logos/zpif-logo-table.svg);
}

.whatsapp-icon {
    @extend %ico;
    width: 40px;
    height: 40px;
    background-image: url(/src/img/logos/whapp-logo.svg);
}

.tg-icon {
    @extend %ico;
    width: 40px;
    height: 40px;
    background-image: url(/src/img/logos/tg-logo.svg);
}