%ico {
    display: inline-block;
    cursor: pointer;
}

.video-play__icon {
    @extend %ico;
    background-image: url(/src/img/icons/video-play-icon.svg);
    width: 80px;
    height: 80px;
    margin-right: 22px;
}

.bank-icon {
    @extend %ico;
    background-image: url(/src/img/logos/bank-russia-logo.svg);
    width: 200px;
    height: 50px;
}

.link-icon {
    @extend %ico;
    width: 52px;
    height: 52px;

    &:hover {
        transition: all 0.1s ease-out;
        rotate: -45deg;
    }

    &_filling {
        background-image: url(/src/img/icons/arrow-button-fill.svg);
        margin-left: 20px;
    }
}