.about {
    padding-top: 78px;
    padding-bottom: 87px;
    background-image:
        $primary-gradient,
        url(/src/img/backgrounds/main-cover.png);
    background-repeat: no-repeat;
    border-color: $primary-color;
}

.intro {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 50px;
}

.intro__text {
    width: 670px;
    color: $light-color;
}

.video-popup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.video__descriptor {
    font-size: 1.4rem;
    line-height: 1.14;
    color: $light-color;
    width: 138px;
}