.about {
    position: relative;
    padding-top: 78px;
    padding-bottom: 87px;
    background-image: $primary-gradient;
    background-color: $background-color;
}

.intro {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 50px;
}

.intro__text {
    width: 670px;
    color: $light-color;
}

.video-popup {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.video__descriptor {
    font-size: 1.4rem;
    line-height: 1.14;
    color: $light-color;
    width: 138px;
}

.bank-authorise {
    margin-top: 50px;
}

.bank-authorise__desription {
    position: relative;
    font-size: 1.6rem;
    color: $light-color;
    width: 135px;
    left: 60px;
}