.advertising {
    padding-top: 100px;
}

.advertising__wrapper {
    position: relative;
    left: 260px;
}

.advertising__title {
    width: 740px;
    font-size: 3.2rem;
    line-height: 1.24;
    color: $primary-color;
    margin-bottom: 30px;
}

.advertising__description {
    width: 424px;
}